/* вторичный цвет текста #212121 */
/*цвет основного текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* основной цвет фона #e5e5e5; */

/* Стили для index.html */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #f5f4fa;
  --secondary-bg-color: #e5e5e5;
  --primary-white-color: #ffffff;
}

body {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  font-family: roboto, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 1200px;
  outline: 2px solid tomato;
}

/* page-header */

.page-header {
  background-color: var(--primary-white-color);
}

.logo {
  margin-right: 93px;

  color: var(--accent-color);
  font-family: raleway, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo-span {
  color: var(--title-text-color);
  font-family: raleway, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-span:hover,
.logo-span:focus {
  color: var(--accent-color);
}

/* main-nav */

.nav {
  margin-right: 331px;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* site-nav */

.site-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.link-current {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}

/* auth-nav */

.auth-nav {
  display: flex;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* main section */

.main {
  text-align: center;
  padding-top: 94px;
}

.main-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
}

/* section */

.section {
  padding-top: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* tasks */

.section-title-tasks {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.tasks .title {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.tasks .text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.7;
}

/* team */

.team .title {
  margin-top: 30px;
  margin-bottom: 0;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
}

.team .text {
  margin-top: 10px;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.2px;
}

/* footer */

.footer {
  padding-top: 94px;
}

.logo-footer {
  color: var(--title-text-color);
  font-family: raleway, serif;
  font-size: 26px;
  line-height: 1.2;
}
.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}

.address {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* button */

.button {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  cursor: pointer;
  border-radius: 4px;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  padding: 10px 32px;
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  padding: 6px 22px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
}

/* стили для li */

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* стили для portfolio.html */

.progect .title {
  margin-top: 20px;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2px;
}

.progect .text {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.9;
}
